@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    @import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


    .introH4,
    .formText {
        font-family: "Vast Shadow", serif;
        font-style: normal;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    }

    .text-shadow {
        text-shadow: #FC0 1px 0 10px;
    }


    .navList,
    .navBrand {
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }


}